{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".tsx"
        ]
      }
    ],
    "@typescript-eslint/indent": "off",
    "linebreak-style": "off",
    "react/jsx-one-expression-per-line": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "import/prefer-default-export": "off",
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "react/prop-types": "off",
    "import/extensions": ["warn", "never"]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ],
        "paths": [
          "src"
        ]
      }
    }
  },
  "env": {
    "browser": true,
    "jest": true
  }
}